<div class="row">
    <div *ngFor="let pizza of pizzas" 
        (click)="onSelect(pizza)"      
        class="col-3"
    >
    <div class="card" [class.selected]="pizza === selectedPizza"> 
      <div class="card-body">
      <h5 class="card-title">{{ pizza.name }}</h5>
      <p>prix HT : {{ pizza.price }}</p>
      <p>prix TTC : {{ pizza.price | taxe }}</p>
      <a routerLink="/pizza/{{pizza.id}}" class="btn btn-primary">voire la pizza</a>
      <button class="btn btn-danger">Supprimer</button>
    </div>   
  </div>
</div>
